.container-fluid {
 background-color:#2c333d;
 overflow-x: hidden;
}

/*@import url('https://fonts.googleapis.com/css?family=Fugaz+One&display=swap');*/

.navbar-header a{
	font-family: 'fugaz one',sans-serif;
	
}
#brand{
	font-family: 'Fugaz One',sans-serif;

	font-size: 20px;
}
.container{
    width: 100%;
    overflow-x: hidden;
    margin-top: 20px;
    background-color:#f7f7f7;
}

#slider {
	overflow-x: hidden;
}

@keyframes slider {
	0% { margin-left: 0px; }
	30% { margin-left: -300px; }
	60% { margin-left: -600px; }
	100% { margin-left: -1000px; }
}
#slider figure {
	width: 300%;;
	position: relative;
	animation: 8s slider infinite;
	overflow-x: hidden;
}

#slider figure:hover {
	animation-play-state: paused; 
}
	figure{
		background-color: white;
	}
	.cfld{
		background-color: #f7f7f7;
	}
    
#slider figure img {
	width: 768px;
	height : 300px;
    float: left;
    padding-right: 10px;
}
/* .active{
	background-color:#ff9900;
} */
/* a{
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
} */
/* a:hover, li:hover{
	background-color:#ff9900;
} */

