<div class='seatlayout' *ngIf=!ack>
    <div class="conatiner">
        <div class="error" *ngIf=flag>
            <p> Please Fill All Details, Select Seat And Future Date </p>
        </div>
        <div>

            <form class="form-inline ">

                <label for="date" class="mb-2 mr-sm-2">Date:</label>
                <input type="date" class="form-control mb-2 mr-sm-2" id="date" [(ngModel)]=date name=date required>
                <label for="no" class="mb-2 ml-sm-4">Mobile Number:</label>
                <input type="no" class="form-control mb-2 mr-sm-2" placeholder="Enter Mobile" id="no" name="mobile"
                    [(ngModel)]=mobile required>
            </form>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row ">
            <div class="col-sm-8">
                <div style="justify-content: center;margin-left: 20vw;">
                    <h3>Select Your Seat</h3>
                </div>
                <div class="seatStructure txt-center ">
                    <table id="seatsBlock">
                        <tr>
                            <td></td>
                            <td>1</td>
                            <td>2</td>
                            <td>3</td>
                            <td>4</td>
                            <td>5</td>
                            <td></td>
                            <td>6</td>
                            <td>7</td>
                            <td>8</td>
                            <td>9</td>
                            <td>10</td>
                            <td>11</td>
                            <td>12</td>
                        </tr>
                        <tr>
                            <td>A</td>
                            <td>
                                <input type="checkbox" class="seats" (change)='seatSelections($event)' value="A1">

                            </td>
                            <td>
                                <input type="checkbox" class="seats" (change)='seatSelections($event)' value="A2">
                            </td>
                            <td>
                                <input type="checkbox" class="seats" (change)='seatSelections($event)' value="A3">
                            </td>
                            <td>
                                <input type="checkbox" class="seats" (change)='seatSelections($event)' value="A4">
                            </td>
                            <td>
                                <input type="checkbox" class="seats" (change)='seatSelections($event)' value="A5">
                            </td>
                            <td class="seatGap"></td>
                            <td>
                                <input type="checkbox" class="seats" (change)='seatSelections($event)' value="A6">
                            </td>
                            <td>
                                <input type="checkbox" class="seats" (change)='seatSelections($event)' value="A7">
                            </td>
                            <td>
                                <input type="checkbox" class="seats" (change)='seatSelections($event)' value="A8">
                            </td>
                            <td>
                                <input type="checkbox" class="seats" (change)='seatSelections($event)' value="A9">
                            </td>
                            <td>
                                <input type="checkbox" class="seats" (change)='seatSelections($event)' value="A10">
                            </td>
                            <td>
                                <input type="checkbox" class="seats" (change)='seatSelections($event)' value="A11">
                            </td>
                            <td>
                                <input type="checkbox" class="seats" (change)='seatSelections($event)' value="A12">
                            </td>
                        </tr>

                        <tr>
                            <td>B</td>
                            <td>
                                <input type="checkbox" class="seats" (change)='seatSelections($event)' value="B1">
                            </td>
                            <td>
                                <input type="checkbox" class="seats" (change)='seatSelections($event)' value="B2">
                            </td>
                            <td>
                                <input type="checkbox" class="seats" (change)='seatSelections($event)' value="B3">
                            </td>
                            <td>
                                <input type="checkbox" class="seats" (change)='seatSelections($event)' value="B4">
                            </td>
                            <td>
                                <input type="checkbox" class="seats" (change)='seatSelections($event)' value="B5">
                            </td>
                            <td></td>
                            <td>
                                <input type="checkbox" class="seats" (change)='seatSelections($event)' value="B6">
                            </td>
                            <td>
                                <input type="checkbox" class="seats" (change)='seatSelections($event)' value="B7">
                            </td>
                            <td>
                                <input type="checkbox" class="seats" (change)='seatSelections($event)' value="B8">
                            </td>
                            <td>
                                <input type="checkbox" class="seats" (change)='seatSelections($event)' value="B9">
                            </td>
                            <td>
                                <input type="checkbox" class="seats" (change)='seatSelections($event)' value="B10">
                            </td>
                            <td>
                                <input type="checkbox" class="seats" (change)='seatSelections($event)' value="B11">
                            </td>
                            <td>
                                <input type="checkbox" class="seats" (change)='seatSelections($event)' value="B12">
                            </td>
                        </tr>

                        <tr>
                            <td>C</td>
                            <td>
                                <input type="checkbox" class="seats" (change)='seatSelections($event)' value="C1">
                            </td>
                            <td>
                                <input type="checkbox" class="seats" (change)='seatSelections($event)' value="C2">
                            </td>
                            <td>
                                <input type="checkbox" class="seats" (change)='seatSelections($event)' value="C3">
                            </td>
                            <td>
                                <input type="checkbox" class="seats" (change)='seatSelections($event)' value="C4">
                            </td>
                            <td>
                                <input type="checkbox" class="seats" (change)='seatSelections($event)' value="C5">
                            </td>
                            <td></td>
                            <td>
                                <input type="checkbox" class="seats" (change)='seatSelections($event)' value="C6">
                            </td>
                            <td>
                                <input type="checkbox" class="seats" (change)='seatSelections($event)' value="C7">
                            </td>
                            <td>
                                <input type="checkbox" class="seats" (change)='seatSelections($event)' value="C8">
                            </td>
                            <td>
                                <input type="checkbox" class="seats" (change)='seatSelections($event)' value="C9">
                            </td>
                            <td>
                                <input type="checkbox" class="seats" (change)='seatSelections($event)' value="C10">
                            </td>
                            <td>
                                <input type="checkbox" class="seats" (change)='seatSelections($event)' value="C11">
                            </td>
                            <td>
                                <input type="checkbox" class="seats" (change)='seatSelections($event)' value="C12">
                            </td>
                        </tr>

                        <tr>
                            <td>D</td>
                            <td>
                                <input type="checkbox" class="seats" (change)='seatSelections($event)' value="D1">
                            </td>
                            <td>
                                <input type="checkbox" class="seats" (change)='seatSelections($event)' value="D2">
                            </td>
                            <td>
                                <input type="checkbox" class="seats" (change)='seatSelections($event)' value="D3">
                            </td>
                            <td>
                                <input type="checkbox" class="seats" (change)='seatSelections($event)' value="D4">
                            </td>
                            <td>
                                <input type="checkbox" class="seats" (change)='seatSelections($event)' value="D5">
                            </td>
                            <td></td>
                            <td>
                                <input type="checkbox" class="seats" (change)='seatSelections($event)' value="D6">
                            </td>
                            <td>
                                <input type="checkbox" class="seats" (change)='seatSelections($event)' value="D7">
                            </td>
                            <td>
                                <input type="checkbox" class="seats" (change)='seatSelections($event)' value="D8">
                            </td>
                            <td>
                                <input type="checkbox" class="seats" (change)='seatSelections($event)' value="D9">
                            </td>
                            <td>
                                <input type="checkbox" class="seats" (change)='seatSelections($event)' value="D10">
                            </td>
                            <td>
                                <input type="checkbox" class="seats" (change)='seatSelections($event)' value="D11">
                            </td>
                            <td>
                                <input type="checkbox" class="seats" (change)='seatSelections($event)' value="D12">
                            </td>
                        </tr>

                        <tr>
                            <td>E</td>
                            <td>
                                <input type="checkbox" class="seats" (change)='seatSelections($event)' value="E1">
                            </td>
                            <td>
                                <input type="checkbox" class="seats" (change)='seatSelections($event)' value="E2">
                            </td>
                            <td>
                                <input type="checkbox" class="seats" (change)='seatSelections($event)' value="E3">
                            </td>
                            <td>
                                <input type="checkbox" class="seats" (change)='seatSelections($event)' value="E4">
                            </td>
                            <td>
                                <input type="checkbox" class="seats" (change)='seatSelections($event)' value="E5">
                            </td>
                            <td></td>
                            <td>
                                <input type="checkbox" class="seats" (change)='seatSelections($event)' value="E6">
                            </td>
                            <td>
                                <input type="checkbox" class="seats" (change)='seatSelections($event)' value="E7">
                            </td>
                            <td>
                                <input type="checkbox" class="seats" (change)='seatSelections($event)' value="E8">
                            </td>
                            <td>
                                <input type="checkbox" class="seats" (change)='seatSelections($event)' value="E9">
                            </td>
                            <td>
                                <input type="checkbox" class="seats" (change)='seatSelections($event)' value="E10">
                            </td>
                            <td>
                                <input type="checkbox" class="seats" (change)='seatSelections($event)' value="E11">
                            </td>
                            <td>
                                <input type="checkbox" class="seats" (change)='seatSelections($event)' value="E12">
                            </td>
                        </tr>

                        <tr class="seatVGap"></tr>

                        <tr>
                            <td>F</td>
                            <td>
                                <input type="checkbox" class="seats" (change)='seatSelections($event)' value="F1">
                            </td>
                            <td>
                                <input type="checkbox" class="seats" (change)='seatSelections($event)' value="F2">
                            </td>
                            <td>
                                <input type="checkbox" class="seats" (change)='seatSelections($event)' value="F3">
                            </td>
                            <td>
                                <input type="checkbox" class="seats" (change)='seatSelections($event)' value="F4">
                            </td>
                            <td>
                                <input type="checkbox" class="seats" (change)='seatSelections($event)' value="F5">
                            </td>
                            <td></td>
                            <td>
                                <input type="checkbox" class="seats" (change)='seatSelections($event)' value="F6">
                            </td>
                            <td>
                                <input type="checkbox" class="seats" (change)='seatSelections($event)' value="F7">
                            </td>
                            <td>
                                <input type="checkbox" class="seats" (change)='seatSelections($event)' value="F8">
                            </td>
                            <td>
                                <input type="checkbox" class="seats" (change)='seatSelections($event)' value="F9">
                            </td>
                            <td>
                                <input type="checkbox" class="seats" (change)='seatSelections($event)' value="F10">
                            </td>
                            <td>
                                <input type="checkbox" class="seats" (change)='seatSelections($event)' value="F11">
                            </td>
                            <td>
                                <input type="checkbox" class="seats" (change)='seatSelections($event)' value="F12">
                            </td>
                        </tr>

                        <tr>
                            <td>G</td>
                            <td>
                                <input type="checkbox" class="seats" (change)='seatSelections($event)' value="G1">
                            </td>
                            <td>
                                <input type="checkbox" class="seats" (change)='seatSelections($event)' value="G2">
                            </td>
                            <td>
                                <input type="checkbox" class="seats" (change)='seatSelections($event)' value="G3">
                            </td>
                            <td>
                                <input type="checkbox" class="seats" (change)='seatSelections($event)' value="G4">
                            </td>
                            <td>
                                <input type="checkbox" class="seats" (change)='seatSelections($event)' value="G5">
                            </td>
                            <td></td>
                            <td>
                                <input type="checkbox" class="seats" (change)='seatSelections($event)' value="G6">
                            </td>
                            <td>
                                <input type="checkbox" class="seats" (change)='seatSelections($event)' value="G7">
                            </td>
                            <td>
                                <input type="checkbox" class="seats" (change)='seatSelections($event)' value="G8">
                            </td>
                            <td>
                                <input type="checkbox" class="seats" (change)='seatSelections($event)' value="G9">
                            </td>
                            <td>
                                <input type="checkbox" class="seats" (change)='seatSelections($event)' value="G10">
                            </td>
                            <td>
                                <input type="checkbox" class="seats" (change)='seatSelections($event)' value="G11">
                            </td>
                            <td>
                                <input type="checkbox" class="seats" (change)='seatSelections($event)' value="G12">
                            </td>
                        </tr>

                        <tr>
                            <td>H</td>
                            <td>
                                <input type="checkbox" class="seats" (change)='seatSelections($event)' value="H1">
                            </td>
                            <td>
                                <input type="checkbox" class="seats" (change)='seatSelections($event)' value="H2">
                            </td>
                            <td>
                                <input type="checkbox" class="seats" (change)='seatSelections($event)' value="H3">
                            </td>
                            <td>
                                <input type="checkbox" class="seats" (change)='seatSelections($event)' value="H4">
                            </td>
                            <td>
                                <input type="checkbox" class="seats" (change)='seatSelections($event)' value="H5">
                            </td>
                            <td></td>
                            <td>
                                <input type="checkbox" class="seats" (change)='seatSelections($event)' value="H6">
                            </td>
                            <td>
                                <input type="checkbox" class="seats" (change)='seatSelections($event)' value="H7">
                            </td>
                            <td>
                                <input type="checkbox" class="seats" (change)='seatSelections($event)' value="H8">
                            </td>
                            <td>
                                <input type="checkbox" class="seats" (change)='seatSelections($event)' value="H9">
                            </td>
                            <td>
                                <input type="checkbox" class="seats" (change)='seatSelections($event)' value="H10">
                            </td>
                            <td>
                                <input type="checkbox" class="seats" (change)='seatSelections($event)' value="H11">
                            </td>
                            <td>
                                <input type="checkbox" class="seats" (change)='seatSelections($event)' value="H12">
                            </td>
                        </tr>

                        <tr>
                            <td>I</td>
                            <td>
                                <input type="checkbox" class="seats" (change)='seatSelections($event)' value="I1">
                            </td>
                            <td>
                                <input type="checkbox" class="seats" (change)='seatSelections($event)' value="I2">
                            </td>
                            <td>
                                <input type="checkbox" class="seats" (change)='seatSelections($event)' value="I3">
                            </td>
                            <td>
                                <input type="checkbox" class="seats" (change)='seatSelections($event)' value="I4">
                            </td>
                            <td>
                                <input type="checkbox" class="seats" (change)='seatSelections($event)' value="I5">
                            </td>
                            <td></td>
                            <td>
                                <input type="checkbox" class="seats" (change)='seatSelections($event)' value="I6">
                            </td>
                            <td>
                                <input type="checkbox" class="seats" (change)='seatSelections($event)' value="I7">
                            </td>
                            <td>
                                <input type="checkbox" class="seats" (change)='seatSelections($event)' value="I8">
                            </td>
                            <td>
                                <input type="checkbox" class="seats" (change)='seatSelections($event)' value="I9">
                            </td>
                            <td>
                                <input type="checkbox" class="seats" (change)='seatSelections($event)' value="I10">
                            </td>
                            <td>
                                <input type="checkbox" class="seats" (change)='seatSelections($event)' value="I11">
                            </td>
                            <td>
                                <input type="checkbox" class="seats" (change)='seatSelections($event)' value="I12">
                            </td>
                        </tr>

                        <tr>
                            <td>J</td>
                            <td>
                                <input type="checkbox" class="seats" (change)='seatSelections($event)' value="J1">
                            </td>
                            <td>
                                <input type="checkbox" class="seats" (change)='seatSelections($event)' value="J2">
                            </td>
                            <td>
                                <input type="checkbox" class="seats" (change)='seatSelections($event)' value="J3">
                            </td>
                            <td>
                                <input type="checkbox" class="seats" (change)='seatSelections($event)' value="J4">
                            </td>
                            <td>
                                <input type="checkbox" class="seats" (change)='seatSelections($event)' value="J5">
                            </td>
                            <td></td>
                            <td>
                                <input type="checkbox" class="seats" (change)='seatSelections($event)' value="J6">
                            </td>
                            <td>
                                <input type="checkbox" class="seats" (change)='seatSelections($event)' value="J7">
                            </td>
                            <td>
                                <input type="checkbox" class="seats" (change)='seatSelections($event)' value="J8">
                            </td>
                            <td>
                                <input type="checkbox" class="seats" (change)='seatSelections($event)' value="J9">
                            </td>
                            <td>
                                <input type="checkbox" class="seats" (change)='seatSelections($event)' value="J10">
                            </td>
                            <td>
                                <input type="checkbox" class="seats" (change)='seatSelections($event)' value="J11">
                            </td>
                            <td>
                                <input type="checkbox" class="seats" (change)='seatSelections($event)' value="J12">
                            </td>
                        </tr>
                    </table>
                    <p style="justify-content: center;margin-left: 25vw;margin-top: 20px;font-size: 18px;">SCREEN
                        THIS
                        WAY</p>

                </div>
            </div>
            <div class="col-sm-4 mt-sm-4">
                <div style="border: 1px solid#3BB9FF ;width: 30vw;background-color:#3BB9FF ;">
                    <h4 style="color:white;padding-left: 8vw;font-family:sans-serif;">Ticket Summary</h4>
                </div>
                <div class="ticketSummary">

                    <p>Booked Seats: {{bookedSeatsJoined}}</p>
                    <p>No of Tickets: <span>{{noOfSeats }}</span></p>
                    <p>Total Payable(Rs): <i style="font-size: large;">&#8377;</i> <span> {{noOfSeats*150  }}</span>
                    </p>
                    <p>Theatre Name: <span> {{TheatreName }}</span></p>
                    <p>Time: <span>{{confirmedTime }} </span></p>
                    <p>Date: <span>{{date}}</span></p>
                    <p>Movie Name: <span>{{movieName}}</span></p>
                    <button class="btn btn-primary" type="button" style="margin-top: 25px;margin-left: 50px;"
                        (click)='setFlag()'>Confirm Ticket</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="container " style="background-color: indianred;width: 50vw;">
    <div class="row justify-content-center">
        <div class="col-sm-auto">
            <p class="toptext">Ticket Confirmed <span class="glyphicon glyphicon-ok"
                    style="background-color:green;"></span></p>
        </div>
    </div>

    <div class="row" style="height: 15vw;">
        <div class="col-sm-7">
            <p class="intext">Booked Seats:<span style="font-size: small;">
                    {{bookedSeatsJoined}}</span>
            </p>
            <p class="intext">Movie Name: <span>{{movieName}}</span></p>
            <p class="intext">Theatre: <span> {{TheatreName }}</span> </p>
            <p class="intext">Mobile Number: <span>{{mobile}}</span> </p>
        </div>
        <div class="col-sm-4">
            <p class="intext">No of Tickets: <span>{{noOfSeats}}</span></p>
            <p class="intext">Total Amount: <span>{{noOfSeats*150}}</span></p>
            <p class="intext">Time: <span>{{confirmedTime}}</span></p>
            <p class="intext">Date: <span>{{date}}</span></p>
        </div>
        <div class="col-sm-1">
            <div class='line'> </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-sm-auto admit" style="height: 2vw;" >
            <ngx-barcode [bc-value]=barCodeValue [bc-display-value]="true"></ngx-barcode>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-auto confirm">Confirmation Number:{{barCodeValue}}</div>
    </div>
</div> -->
<div class="container" *ngIf=ack     style="background-color: #f7f7f7;margin-top: 20px;margin-bottom: 20px;height: 70vw ;">
    <div class="printarea" id='printarea'>
        <div class="row justify-content-center mt-sm-6">
            <div class="col-sm-auto">
                <p class="toptext">Ticket Confirmed <i class="fa fa-ticket" aria-hidden="true"></i></p>
            </div>
        </div>
        <div class="row" style="margin-top: 1vw;margin-left: 7vw;">
            <div class="col-sm-10 ticket ">
                <div class="row" style="height: 20vw;">
                    <div class="col-sm-1  " style="margin-top: 70px;">
                        <h3 class="admit">ADMIT&nbsp;&nbsp;{{noOfSeats}}</h3>
                    </div>
                    <div class="col-sm-7 ">
                        <div class="d-flex justify-content-center mt-sm-4">
                            <h5>{{TheatreName}} &nbsp;|&nbsp; Seats:</h5>
                        </div>
                        <div class="d-flex justify-content-center">
                            {{bookedSeatsJoined}}
                        </div>


                        <div class="d-flex justify-content-center text-uppercase" style="margin-top: 7vw;">
                            <h1>{{movieName}}</h1>
                        </div>
                    </div>
                    <div class="col-sm-1" style="margin-top: 70px;">
                        <h5 class="admit">RATING_UA</h5>
                    </div>
                    <div class="col-sm-3 " style="color: black;">
                        <div class="d-flex justify-content-center">
                            <h4>Ticket Price</h4>
                        </div>
                        <div class="d-flex justify-content-center">
                            <h6>&#8377;{{noOfSeats*150}}</h6>
                        </div>
                        <div class="d-flex justify-content-center">
                            <h4>Date</h4>
                        </div>
                        <div class="d-flex justify-content-center">
                            <h6>{{date}}</h6>
                        </div>
                        <div class="d-flex justify-content-center">
                            <h4>Time</h4>
                        </div>
                        <div class="d-flex justify-content-center">
                            <h6>{{confirmedTime}}</h6>
                        </div>
                        <div class="d-flex justify-content-center">
                            <h4>Mobile</h4>
                        </div>
                        <div class="d-flex justify-content-center">
                            <h6>{{mobile}}</h6>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row" style="margin-top: 1vw;margin-left: 7vw;">
            <div class="col-sm-10 ticket2 ">
                <div class="row " style=" height: 20vw;">
                    <div class="col-sm-1 admit align-self-start" style="margin-left: 6%;margin-top: 0%;padding: 0% 0;">
                        <ngx-barcode [bc-value]=barCodeValue [bc-display-value]="true" [bc-height]=80 [bc-width]=1.3>
                        </ngx-barcode>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="row justify-content-center" style="margin-top: 2vw;">
        <button class="btn btn-success" (click)='print()'>Print</button>
    </div>
</div>