<div class="sidenav">
    <h5 style="padding: 3px;">Upcoming Movies</h5>
    <ol>
        <a href='#'>
            <li>Petta</li>
        </a>
        <a href='#'>
            <li>Darbar</li>
        </a>
        <a href='#'>
            <li>pattas</li>
        </a>
        <a href='#'>
            <li>Varnam Ayiram</li>
        </a>
        <a href='#'>
            <li>Vinnai Thandi Varuvaya</li>
        </a>
        <a href='#'>
            <li>Lethal</li>
        </a>
    </ol>

</div>
<div class="main">
    <app-home-content #name ></app-home-content>
</div>